#admin_postsOrder, #admin_usersOrder {
    display: none;
    & + div.chronologique {
        display: none;
    }
    &:checked + div.chronologique {
        display: initial;    
        & label {
            font-size: large;
            & > i.fa-sort {
                margin: 20px 0;
                font-size: x-large;
            }
            }
    }

    & + div + div.antichronologique {
        display: initial;    
        & label {
            font-size: large;
            & > i.fa-sort {
                margin: 20px 0;
                font-size: x-large;
            }
            }
    }
    &:checked + div + div.antichronologique {
        display: none;
    }
}